.item-card{
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 1rem 1.25rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-add {
  backface-visibility: hidden;
  background: #2cf240;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 0.5rem 1.0rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-add:disabled {
  color: #787878;
  cursor: auto;
}

.button-add:not(:disabled):hover {
  transform: scale(1.05);
}

.button-add:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-add:focus {
  outline: 0 solid transparent;
}

.button-add:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-add:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-add:not(:disabled):active {
  transform: translateY(.125rem);
}

.button-remove {
    backface-visibility: hidden;
    background: #f22c2c;
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 0.5rem 1.0rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-remove:disabled {
    color: #787878;
    cursor: auto;
  }
  
  .button-remove:not(:disabled):hover {
    transform: scale(1.05);
  }
  
  .button-remove:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  
  .button-remove:focus {
    outline: 0 solid transparent;
  }
  
  .button-remove:focus:before {
    border-width: .125rem;
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  .button-remove:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  .button-remove:not(:disabled):active {
    transform: translateY(.125rem);
  }
  .qnty{
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 1rem 1.25rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }